/* BACKGROUND #314455
TITLE #C96567
DARKTITLE #9E5A63
ACCENT #97AABD 
LIGHT_ACCENT #97AABD */

* {
    background-color: #314455;
    color: #fbfbfb;
    font-family: 'Montserrat', sans-serif;
}

h1, h3, h4 {
    color: #C96567;
}

h1 {
    font-family: 'Mrs Sheppards', cursive;
    font-size: 80px; 
}

#images {
    display: none; 
}

#test {
    margin-top: 5rem;
}

.countdown-panel {
    margin-top: 5rem; 
}

span {
    margin: 0; 
    padding: 0; 
    color: #fbfbfb; 
}

.circledown {
    filter: invert(100%);
    margin: 0; 
    padding: 0; 
    border-radius: 60px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

#buttonDown {
    margin-top: 1rem;
}

#spinner { 
    rotate: 270deg;
    height: 20px; 
    width: auto;
    visibility: hidden;
}

.input-field textarea:focus + label {
    color: #97AABD !important;
  }
  
  .row .input-field textarea:focus {
    border-bottom: 1px solid #97AABD !important;
    box-shadow: 0 1px 0 0 #97AABD !important
  }

